{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  HMT [QUESTION TEXT]? – Get assurance and approval for funding – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="../task-list?task16=complete" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">2. Integrated risk questions</span>
            <h1 class="govuk-fieldset__heading">
              HMT [QUESTION TEXT]
            </h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hmt2" name="hmt2" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="hmt2">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hmt2-2" name="hmt2" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="hmt2-2">
                No
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hmt2-3" name="hmt2" type="radio" value="Not sure yet" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="hmt2-3">
                Not sure yet
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}