{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  If your initiative is above your department's DAL but below the £1bn GMPP threshold, do you expect it to sit on the Departmental Major Projects Portfolio (DMPP)? – Get assurance and approval for funding – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="../task-list?task14=complete" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">2. Integrated risk questions</span>
            <h1 class="govuk-fieldset__heading">
              If your initiative is above your department's DAL but below the £1bn GMPP threshold, do you expect it to sit on the Departmental Major Projects Portfolio (DMPP)?
            </h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="riskDmpp" name="riskDmpp" type="radio" value="Yes, DMPP expected">
              <label class="govuk-label govuk-radios__label" for="riskDmpp">
                Yes, DMPP expected
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="riskDmpp-2" name="riskDmpp" type="radio" value="No, below DAL so neither GMPP nor DMPP">
              <label class="govuk-label govuk-radios__label" for="riskDmpp-2">
                No, below DAL so neither GMPP nor DMPP
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="riskDmpp-3" name="riskDmpp" type="radio" value="No, we expect this to be on the GMPP instead">
              <label class="govuk-label govuk-radios__label" for="riskDmpp-3">
                No, we expect this to be on the GMPP instead
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="riskDmpp-4" name="riskDmpp" type="radio" value="Not sure yet" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="riskDmpp-4">
                Not sure yet
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}