{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  Thinking about the initiative against the six OVfM mega project tests, which of the following apply? – Get assurance and approval for funding – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="risk-dmpp" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">2. Integrated risk questions</span>
            <h1 class="govuk-fieldset__heading">
              Thinking about the initiative against the six OVfM mega project tests, which of the following apply?
            </h1>
          </legend>
          
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="riskOvfm" name="riskOvfm" type="checkbox" value="Whole life cost over £10bn">
              <label class="govuk-label govuk-checkboxes__label" for="riskOvfm">
                Whole life cost over £10bn
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="riskOvfm-2" name="riskOvfm" type="checkbox" value="Transformational impact on the economy, society or national security">
              <label class="govuk-label govuk-checkboxes__label" for="riskOvfm-2">
                Transformational impact on the economy, society or national security
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="riskOvfm-3" name="riskOvfm" type="checkbox" value="Cross cutting" aria-describedby="riskOvfm-3-hint">
              <label class="govuk-label govuk-checkboxes__label" for="riskOvfm-3">
                Cross cutting
              </label>

              <div id="riskOvfm-3-hint" class="govuk-hint govuk-checkboxes__hint">
                impacts multiple government departments or sectors
              </div>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="riskOvfm-4" name="riskOvfm" type="checkbox" value="Non scalable" aria-describedby="riskOvfm-4-hint">
              <label class="govuk-label govuk-checkboxes__label" for="riskOvfm-4">
                Non scalable
              </label>

              <div id="riskOvfm-4-hint" class="govuk-hint govuk-checkboxes__hint">
                cannot be broken into smaller independent projects
              </div>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="riskOvfm-5" name="riskOvfm" type="checkbox" value="Takes more than 10 years to deliver">
              <label class="govuk-label govuk-checkboxes__label" for="riskOvfm-5">
                Takes more than 10 years to deliver
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="riskOvfm-6" name="riskOvfm" type="checkbox" value="Takes less than 50 years to deliver" aria-describedby="riskOvfm-6-hint">
              <label class="govuk-label govuk-checkboxes__label" for="riskOvfm-6">
                Takes less than 50 years to deliver
              </label>

              <div id="riskOvfm-6-hint" class="govuk-hint govuk-checkboxes__hint">
                for example, not ongoing BAU
              </div>

            </div>

            <div class="govuk-checkboxes__divider">or</div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="riskOvfm-7" name="riskOvfm" type="checkbox" value="Not sure yet">
              <label class="govuk-label govuk-checkboxes__label" for="riskOvfm-7">
                Not sure yet
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}