{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the programme or project type? – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="objectives" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is the programme or project type?
            </h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Government transformation & service delivery
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                ICT
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="abroad" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
                Infrastructure & construction
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="abroad" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
                MoD capability
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}