{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  What is the change driver? – Service name – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="programme-type" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">1. Programme or project details</span>
            <h1 class="govuk-fieldset__heading">
              What is the change driver?
            </h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Legal
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                Operational business change
              </label>
            </div>
            
            <div class="govuk-radios__divider">or</div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="abroad" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
                Other
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Provide short explanation
                </label>
                <input class="govuk-input" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
              </div>

            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}