{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  What is the estimated total construction value of the works element? – Get assurance and approval for funding – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="../task-list?task5=complete" method="post" novalidate>

      <div class="govuk-form-group">
        <span class="govuk-caption-l">1. Programme or project details</span>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="constructionValue">
            What is the estimated total construction value of the works element?
          </label>
        </h1>
        <p class="govuk-body">Do not include VAT in this amount.</p>

        <div class="govuk-input__wrapper">
          
          <div class="govuk-input__prefix" aria-hidden="true">£</div>

          <input class="govuk-input govuk-input--width-10" id="constructionValue" name="constructionValue" type="text" spellcheck="false">
        </div>

      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}