{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  Are you expecting to use a Gate 0 Strategic Assessment review to support each business case approval point? – Service name – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="programme-type" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">1. Programme or project details</span>
            <h1 class="govuk-fieldset__heading">
              Are you expecting to use a Gate 0 Strategic Assessment review to support each business case approval point?
            </h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="gate0" name="gate0" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="gate0">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="gate0-2" name="gate0" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="gate0-2">
                No
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="gate0-6" name="gate0" type="radio" value="Not sure yet" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="gate0-6">
                Not sure yet
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}