{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  Does the initiative depend on, or materially affect, work being led by other government departments or arm's length bodies? – Get assurance and approval for funding – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="spend" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">1. Programme or project details</span>
            <h1 class="govuk-fieldset__heading">
              Does the initiative depend on, or materially affect, work being led by other government departments or arm's length bodies?
            </h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="crossGovernment" name="crossGovernment" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="crossGovernment">
                No
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="crossGovernment-2" name="crossGovernment" type="radio" value="Some dependencies" aria-describedby="crossGovernment-hint">
              <label class="govuk-label govuk-radios__label" for="crossGovernment-2">
                Some dependencies
              </label>

              <div id="crossGovernment-hint" class="govuk-hint govuk-checkboxes__hint">
                one or two other departments or arm's length bodies
              </div>

            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="crossGovernment-3" name="crossGovernment" type="radio" value="Significant dependencies">
              <label class="govuk-label govuk-radios__label" for="crossGovernment-3">
                Significant dependencies
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="crossGovernment-4" name="crossGovernment" type="radio" value="Not sure yet" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="crossGovernment-4">
                Not sure yet
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}