{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  What is the highest classification of information the initiative will create, process, store or transmit? – Get assurance and approval for funding – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="cyber-and-security-cloud" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">1. Programme or project details</span>
            <h1 class="govuk-fieldset__heading">
              What is the highest classification of information the initiative will create, process, store or transmit?
            </h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cyberAndSecurity" name="cyberAndSecurity" type="radio" value="OFFICIAL">
              <label class="govuk-label govuk-radios__label" for="cyberAndSecurity">
                OFFICIAL
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cyberAndSecurity-2" name="cyberAndSecurity" type="radio" value="OFFICIAL SENSITIVE">
              <label class="govuk-label govuk-radios__label" for="cyberAndSecurity-2">
                OFFICIAL SENSITIVE
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cyberAndSecurity-3" name="cyberAndSecurity" type="radio" value="SECRET">
              <label class="govuk-label govuk-radios__label" for="cyberAndSecurity-3">
                SECRET
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cyberAndSecurity-4" name="cyberAndSecurity" type="radio" value="TOP SECRET">
              <label class="govuk-label govuk-radios__label" for="cyberAndSecurity-4">
                TOP SECRET
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cyberAndSecurity-5" name="cyberAndSecurity" type="radio" value="Not sure yet" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="cyberAndSecurity-5">
                Not sure yet
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}