{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  What is the expected annual transaction volume of the service once it is live? – Service name – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="digital-service-agile" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">1. Programme or project details</span>
            <h1 class="govuk-fieldset__heading">
              What is the expected annual transaction volume of the service once it is live?
            </h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="transactions" name="transactions" type="radio" value="Less than 100,000 per year">
              <label class="govuk-label govuk-radios__label" for="transactions">
                Less than 100,000 per year
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="transactions-2" name="transactions" type="radio" value="More than 100,000 per year">
              <label class="govuk-label govuk-radios__label" for="transactions-2">
                More than 100,000 per year
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="transactions-3" name="transactions" type="radio" value="Not sure yet" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="transactions-3">
                Not sure yet
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}