{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  Is the initiative proposing, amending or repelling a regulatory measure that affects business, civil society organisations or the public sector? – Get assurance and approval for funding – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="grants" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">1. Programme or project details</span>
            <h1 class="govuk-fieldset__heading">
              Is the initiative proposing, amending or repelling a regulatory measure that affects business, civil society organisations or the public sector?
            </h1>
          </legend>
          <p class="govuk-body">If yes, this would mean that a Regulatory Impact Assessment under the Better Regulation Framework may be required.</p>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalAmend" name="legalAmend" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="legalAmend">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalAmend-2" name="legalAmend" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="legalAmend-2">
                No
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="legalAmend-3" name="legalAmend" type="radio" value="Not sure yet" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="legalAmend-3">
                Not sure yet
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}