{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  Have you started preparing your initial business case? – Get assurance and approval for funding – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="../task-list?successBanner=true&group1=complete&task13=complete" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">1. Programme or project details</span>
            <h1 class="govuk-fieldset__heading">
              Have you started preparing your initial business case?
            </h1>
          </legend>
          
          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="lifecycle" name="lifecycle" type="radio" value="Yes, Programme Business Case (PBC) in preparation">
              <label class="govuk-label govuk-radios__label" for="lifecycle">
                Yes, Programme Business Case (PBC) in preparation
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="lifecycle-2" name="lifecycle" type="radio" value="Yes, Strategic Outline Case (SOC) in preparation">
              <label class="govuk-label govuk-radios__label" for="lifecycle-2">
                Yes, Strategic Outline Case (SOC) in preparation
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="lifecycle-3" name="lifecycle" type="radio" value="Not yet, pre business case">
              <label class="govuk-label govuk-radios__label" for="lifecycle-3">
                Not yet, pre business case
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}