{% extends "v1/layouts/signed-in.html" %}

{% block pageTitle %}
  Does the initiative involve a workforce transfer between organisations to which Transfer of Undertakings (Protection of Employment) regulations (TUPE) applies, or a significant organisational change affecting staff? – Get assurance and approval for funding – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    
  <div class="govuk-grid-column-two-thirds">

    <form action="../task-list?task11=complete" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">1. Programme or project details</span>
            <h1 class="govuk-fieldset__heading">
              Does the initiative involve a workforce transfer between organisations to which Transfer of Undertakings (Protection of Employment) regulations (TUPE) applies, or a significant organisational change affecting staff?
            </h1>
          </legend>
          <p class="govuk-hint">For example, a restructure, bulk exits of more than 20 staff, major outsourcing or insourcing.</p>
          
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="people" name="people" type="checkbox" value="TUPE transfer in">
              <label class="govuk-label govuk-checkboxes__label" for="people">
                <abbr title="Transfer of Undertakings (Protection of Employment)">TUPE</abbr> transfer in
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="people-2" name="people" type="checkbox" value="TUPE transfer out">
              <label class="govuk-label govuk-checkboxes__label" for="people-2">
                <abbr title="Transfer of Undertakings (Protection of Employment)">TUPE</abbr> transfer out
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="people-3" name="people" type="checkbox" value="Significant restructure of organisation">
              <label class="govuk-label govuk-checkboxes__label" for="people-3">
                Significant restructure of organisation
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="people-4" name="people" type="checkbox" value="Bulk exits of more than 20 staff">
              <label class="govuk-label govuk-checkboxes__label" for="people-4">
                Bulk exits of more than 20 staff
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="people-5" name="people" type="checkbox" value="Major outsourcing or insourcing">
              <label class="govuk-label govuk-checkboxes__label" for="people-5">
                Major outsourcing or insourcing
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="people-6" name="people" type="checkbox" value="None of above">
              <label class="govuk-label govuk-checkboxes__label" for="people-6">
                None of above
              </label>
            </div>

            <div class="govuk-checkboxes__divider">or</div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="people-7" name="people" type="checkbox" value="Not sure yet">
              <label class="govuk-label govuk-checkboxes__label" for="people-7">
                Not sure yet
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        <a href="#" class="govuk-link">Save and continue later</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}